In [1]:
#import dependencies
import sys

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import plotly.express as px
import missingno as msno


import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly.offline import init_notebook_mode, iplot
%matplotlib inline

## 1 - PREPARING DATASET FOR FUTURE TASKS

In [2]:
pkmdf = pd.read_csv(r'/Users/arnenyeck/Desktop/MSU-Kato/CIS 518- Foundation of data science/project_1/project1_ds.csv')
pkmdf

,Unnamed: 0,X.,Name,Type.1,Type.2,Total,HP,Attack,Defense,Sp..Atk,Sp..Def,Speed,Generation,Legendary,Win_rate,Type1_Win_rate
0,1,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0.17,0.446002
1,2,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.36,0.446002
2,3,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.63,0.446002
3,4,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.58,0.446002
4,5,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,0.48,0.441195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,NaN,0.519051
796,797,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,NaN,0.519051
797,798,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,NaN,0.400652
798,799,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,NaN,0.400652
799,800,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,NaN,0.441195

In [4]:
#2 
pkmdf.head()

,Unnamed: 0,X.,Name,Type.1,Type.2,Total,HP,Attack,Defense,Sp..Atk,Sp..Def,Speed,Generation,Legendary,Win_rate,Type1_Win_rate
0,1,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0.17,0.446002
1,2,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.36,0.446002
2,3,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.63,0.446002
3,4,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.58,0.446002
4,5,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,0.48,0.441195

In [5]:
pkmdf.tail()

,Unnamed: 0,X.,Name,Type.1,Type.2,Total,HP,Attack,Defense,Sp..Atk,Sp..Def,Speed,Generation,Legendary,Win_rate,Type1_Win_rate
795,796,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,NaN,0.519051
796,797,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,NaN,0.519051
797,798,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,NaN,0.400652
798,799,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,NaN,0.400652
799,800,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,NaN,0.441195

In [6]:
## Shape of data frame
pkmdf.shape

(800, 16)

In [ ]:
sns.catplot(x = 'Generation',
               data = pkmdf1,
               height = 6,
               aspect = 1.5,
               kind = 'count').set_axis_labels('Generations', '# of Pokemon')
plt.show()